WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v15/ipch/AutoPCH/WIN32SIMPLESAMPLE-b61102aa/TOOLMAIN-9ab8bee5/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.opendb
WOFFCEdit/Win32SimpleSample.vcxproj.user
WOFFCEdit/WoFEdit/x64/Debug/ChunkObject.obj
WOFFCEdit/WoFEdit/x64/Debug/DeviceResources.obj
WOFFCEdit/WoFEdit/x64/Debug/DisplayChunk.obj
WOFFCEdit/WoFEdit/x64/Debug/DisplayObject.obj
WOFFCEdit/WoFEdit/x64/Debug/Game.obj
WOFFCEdit/WoFEdit/x64/Debug/Main.obj
WOFFCEdit/WoFEdit/x64/Debug/MFCFrame.obj
WOFFCEdit/WoFEdit/x64/Debug/MFCMain.obj
WOFFCEdit/WoFEdit/x64/Debug/MFCRenderFrame.obj
WOFFCEdit/WoFEdit/x64/Debug/pch.obj
WOFFCEdit/WoFEdit/x64/Debug/SceneObject.obj
WOFFCEdit/WoFEdit/x64/Debug/SelectDialogue.obj
WOFFCEdit/WoFEdit/x64/Debug/sqlite3.obj
WOFFCEdit/WoFEdit/x64/Debug/ToolMain.obj
WOFFCEdit/WoFEdit/x64/Debug/vc143.idb
WOFFCEdit/WoFEdit/x64/Debug/vc143.pdb
WOFFCEdit/WoFEdit/x64/Debug/Win32SimpleSample.log
WOFFCEdit/WoFEdit/x64/Debug/Win32SimpleSample.res
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.exe.recipe
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.ilk
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/CL.command.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/Cl.items.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/CL.read.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/CL.write.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/link.command.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/link.read.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/link.secondary.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/link.write.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/rc.command.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/rc.read.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/rc.write.1.tlog
WOFFCEdit/WoFEdit/x64/Debug/WoFEdit.tlog/WoFEdit.lastbuildstate
WOFFCEdit/x64/Debug/WoFEdit.exe
WOFFCEdit/x64/Debug/WoFEdit.pdb
WOFFCEdit/.vs/Win32SimpleSample/v17/Solution.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/c13cb48c117e31f/MAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/af0e99f38d508628/SELECTDIALOGUE.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/a901fe59e04141df/MFCFRAME.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/93ff108b3b042594/GAME.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/7b8290d33c6be0bd/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/733a665b31dfad65/CAMERA.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/70e9da1e102926bb/DEVICERESOURCES.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/fileList.bin
WOFFCEdit/.vs/Win32SimpleSample/v17/DocumentLayout.json
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v17/.suo
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/ececa89c-41d0-4692-b5c7-eb085cdab5c0.vsidx
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/1e1dd36e-2ebe-4e49-b653-17fe8ed6891f.vsidx
